---
layout: default
title:  rookie
projects:
  - name:        LEDStrip
    description: An Arduino library to control the RGB LED Strip
                 from Sparkfun.com. Still waiting for delivery to test
                 the strip.
    url:         http://www.github.com/rookie/LEDStrip
  - name:        mspduino
    description: An msp430 project to port over the Arduino libraries. It
                 needs to be updated and organized.
    url:         http://www.github.com/rookie/led-light
  - name:        FrequencyTimer2
    description: Update code from 
                 http://www.arduino.cc/playground/Code/FrequencyTimer2
                 for use with Arduino 0018 and the ATmega328 chip.
    url:         http://www.github.com/rookie/FrequencyTimer2
contributions:
  - name: FrequencyTimer2
    url:  http://www.arduino.cc/playground/Code/FrequencyTimer2
links:
  - name: GitHub profile
    url:  http://github.com/rookie
---

<div id="avatar">
  <img src="http://www.gravatar.com/avatar/115d5ce2de437a55aa98d59d4a98d823?d=mm" />
</div>

<h1>{{ page.title }} <em>some guy doing things</em></h1>

<h2>About me</h2>
<div class="text">
  I am a computer engineer that loves coding in his time of from coding at
  work. Some of the projects i work on involve the Arduino or the iPhone, 
  Android, or webOS. it will be interesting to see where it all ends up.
</div>

<h2>Open Source Projects</h2>
<ul class="projects">
{% for project in page.projects %}
  <li>
    <a href="{{ project.url }}">
      {{ project.name }}<br />
      <span class="description">{{ project.description }}</span>
    </a>
  </li>
{% endfor %}
</ul>
You can find more projects I created in
<a href="http://github.com/rookie">my GitHub profile</a>.

<h2>Contributions</h2>
I am saving this area as a reminder to find some projects i could make 
some contributions too.
<ul>
{% for contribution in page.contributions %}
  <li><a href="{{ contribution.url }}">{{ contribution.name }}</a></li>
{% endfor %}
</ul>

<h2>Links</h2>
<ul>
{% for link in page.links %}
  <li><a href="{{ link.url }}">{{ link.name }}</a></li>
{% endfor %}
</ul>